.flipMainContainer {
  max-width: 1400px;
  background-color: #14332e;
}
#flipmemotry {
  background-color: #14332e;
}
@media (min-width: 768px) {
  #flipmemotry {
    height: 100vh !important;
  }
  .flis {
    height: 100vh !important;
  }
}
