.rulesbutton {
  width: 62px;
  height: 32px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  border-style: solid;
  border-color: #475569;
  color: #475569;
  cursor: pointer;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.Modal {
  position: absolute;
  width: 312px;
  height: 556px;
  top: 48px;
  left: 24px;
  gap: 0px;
  border-radius: 12px;
  opacity: 1px;
  background-color: #ffffff;
}

.rulesul {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  justify-content: center;
}
.rulelists {
  width: 278px;
  top: 64px;
  left: 12px;
  gap: 0px;
  opacity: 1px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #475569;
  margin-bottom: 10px;
}
.closebutton {
  background-color: transparent;
  border: none;
  padding: 10px;
  align-self: flex-end;
}

.model-container {
  display: flex;
  flex-direction: column;
}
.rulesheds {
  width: 41px;
  height: 24px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #1e293b;
  align-self: center;
  margin: 0px;
}
@media (min-width: 768px) {
  .Modal {
    width: 675px;
    height: 500px;
    top: 100px;
    left: 382px;
    gap: 0px;
    opacity: 1px;
  }
  .rulelists {
    width: 579px;
    top: 300px;
    left: 430px;
    gap: 0px;
    opacity: 1px;
  }
  .rulesul {
    padding-left: 60px;
  }
}
