#startcon {
  background-image: url('https://res.cloudinary.com/dgkcumi4q/image/upload/v1721538082/backflip_wywbh3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.h1hedflip {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
.timer-para {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 10px;
  text-align: right;
  color: #ffffff;
  margin: 0px;
}
.con-headers {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 20px;
}
.memory-game {
  width: 312px;
  height: 390px;
  background-color: #154315;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  list-style-type: none;
  padding-left: 3px;
  padding: 0px;
}
.memory-card {
  width: 66px;
  height: 66px;
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}
.front-face {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #333;
}
.back-face {
  background: #2c3e50;
  transform: rotateY(180deg);
}
.footprints {
  width: 41.25px;
  height: 41.25px;
  opacity: 0px;
}

.memory-card .front-face,
.memory-card .back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;
}

.memory-card.flip {
  transform: rotateY(180deg);
}
